name: Build & Release

env:
  GH_TOKEN: ${{ SECRETS.GITHUB_TOKEN }}

on: push

defaults:
  run:
    shell: bash

jobs:
  linux_x64:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Node.js and NPM
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - name: Build
        run: npm ci

      - name: Validate Release Notes
        run: npm run generate-release-info

      - name: Build for Release
        if: contains(github.ref, 'main')
        run: npm run dist:linux:x64 -- --publish always

      - name: Build for PR
        if: "!contains(github.ref, 'main')"
        run: npm run dist:linux:x64 -- --publish never

      - name: Upload PR artifacts
        if: "!contains(github.ref, 'main')"
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: teams-for-linux-linux-x64
          path: |
            dist/*.deb
            dist/*.rpm
            dist/*.tar.gz
            dist/*.AppImage
          retention-days: 30
          compression-level: 6

  linux_arm64:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Node.js and NPM
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - name: Build
        run: npm ci

      - name: Validate Release Notes
        run: npm run generate-release-info

      - name: Build for Release
        if: contains(github.ref, 'main')
        run: npm run dist:linux:arm64 -- --publish always

      - name: Build for PR
        if: "!contains(github.ref, 'main')"
        run: npm run dist:linux:arm64 -- --publish never

      - name: Upload PR artifacts
        if: "!contains(github.ref, 'main')"
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: teams-for-linux-linux-arm64
          path: |
            dist/*.deb
            dist/*.rpm
            dist/*.tar.gz
            dist/*.AppImage
          retention-days: 30
          compression-level: 6

  linux_arm:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Node.js and NPM
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - name: Build
        run: npm ci

      - name: Validate Release Notes
        run: npm run generate-release-info

      - name: Build for Release
        if: contains(github.ref, 'main')
        run: npm run dist:linux:arm -- --publish always
