name: Build & Release

env:
  GH_TOKEN: ${{ SECRETS.GITHUB_TOKEN }}

on: push

defaults:
  run:
    shell: bash

jobs:
  linux_x64:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Node.js and NPM
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - name: Build
        run: npm ci

      - name: Validate Release Notes
        run: npm run generate-release-info

      - name: Set build number
        run: echo "BUILD_NUMBER=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build for Release
        if: contains(github.ref, 'main')
        run: npm run dist:linux:x64 -- --publish always

      - name: Upload Debian package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-deb-x64
          path: dist/*_amd64.deb

  linux_arm64:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Node.js and NPM
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - name: Build
        run: npm ci

      - name: Validate Release Notes
        run: npm run generate-release-info

      - name: Set build number
        run: echo "BUILD_NUMBER=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build for Release
        if: contains(github.ref, 'main')
        run: npm run dist:linux:arm64 -- --publish always

      - name: Upload Debian package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-deb-arm64
          path: dist/*_arm64.deb

  linux_arm:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install Node.js and NPM
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22

      - name: Build
        run: npm ci

      - name: Validate Release Notes
        run: npm run generate-release-info

      - name: Set build number
        run: echo "BUILD_NUMBER=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build for Release
        if: contains(github.ref, 'main')
        run: npm run dist:linux:arm -- --publish always

      - name: Upload Debian package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-deb-arm
          path: dist/*_armv7l.deb

  apt_repo:
    needs: [linux_x64, linux_arm64, linux_arm]
    uses: ./.github/workflows/upload.yml
    secrets: inherit
