name: Upload to APT & RPM repos

on:
  workflow_call:
    secrets:
      REPO_HOST:
        required: true
      REPO_USER:
        required: true
      REPO_KEY:
        required: true
      REPO_PORT:
        required: true
      APT_REPO_PATH:
        required: true
      RPM_REPO_PATH:
        required: true

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Create dist directory
        run: mkdir -p dist

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: List downloaded files
        run: ls -R dist

      - name: Upload artifact to custom APT repo
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.REPO_HOST }}
          username: ${{ secrets.REPO_USER }}
          key: ${{ secrets.REPO_KEY }}
          port: ${{ secrets.REPO_PORT }}
          source: "dist/*/*.deb"
          strip_components: 2
          target: ${{ secrets.APT_REPO_PATH }}/${{ vars.APT_REPO_POOL_PATH }}

      - name: Upload artifact to custom RPM repo
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.REPO_HOST }}
          username: ${{ secrets.REPO_USER }}
          key: ${{ secrets.REPO_KEY }}
          port: ${{ secrets.REPO_PORT }}
          source: "dist/*/*.rpm"
          strip_components: 2
          target: ${{ secrets.RPM_REPO_PATH }}/${{ vars.RPM_REPO_POOL_PATH }}

      - name: Update APT repo after upload
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.REPO_HOST }}
          username: ${{ secrets.REPO_USER }}
          key: ${{ secrets.REPO_KEY }}
          port: ${{ secrets.REPO_PORT }}
          script: ${{ secrets.APT_REPO_PATH }}/${{ vars.REPO_UPDATE_SCRIPT }}

      - name: Update RPM repo after upload
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.REPO_HOST }}
          username: ${{ secrets.REPO_USER }}
          key: ${{ secrets.REPO_KEY }}
          port: ${{ secrets.REPO_PORT }}
          script: ${{ secrets.RPM_REPO_PATH }}/${{ vars.REPO_UPDATE_SCRIPT }}
